/*
Style sheet for ACF block "Static Image with Text"
*/
/* 
    Created on : 14-Aug-2020, 8:43:09 PM
    Author     : Danish
*/

h2 {
	font-size: 22px;
	color: #770524;
	margin: 45px 0 20px;
}

h4 {
	margin-bottom: 0;
}

.custom-accordion-image {
	margin: 40px 0;
}

.custom-accordion-image__top-panel {
	background-color: #770524;
	color: white;
	display: block;
	align-items: stretch;
	border-radius: 12px;
	box-sizing: border-box;
	width: 100%;
	height: 225px;
	position: relative;
	min-width: 1024px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.75s ease;
}

.custom-accordion-image__image-cont {
	width: 60%;
	height: 100%;
	display: inline-block;
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 10px 0 0 10px;
	overflow: hidden;
	transition: all 0.5s ease;
}

.custom-accordion-image__header-cont {
	width: 40%;
	height: 225px;
	display: inline-block;
	background-size: cover;
	background-position: 50% 50%;
	background-color: #770524;
	font-size: 16px;
	border-radius: 0 10px 10px 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	transition: all 0.5s ease;
}

.custom-accordion-image__header {
	display: block;
	font-size: 26px;
	font-weight: 700;
	line-height: 30px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width: 225px;
	margin: 0 auto;
	transition: max-width 0s ease;
}



/*
.custom-accordion-image.open .custom-accordion-image__top-panel {
	height: 325px;
}

.custom-accordion-image.open .custom-accordion-image__image-cont {
	width: 100%;
}

.custom-accordion-image.open .custom-accordion-image__header-cont {
	height: 75px;
	width: 100%;
}

.custom-accordion-image:hover .custom-accordion-image__image-cont,
.custom-accordion-image:focus-within .custom-accordion-image__image-cont {
	width: 100%;
}

.custom-accordion-image__top-panel:hover .custom-accordion-image__header-cont, 
.custom-accordion-image__top-panel:focus-within .custom-accordion-image__header-cont {
	width: 100%;
}

.custom-accordion-image.open .custom-accordion-image__header { 
	max-width: 800px;
}

.custom-accordion-image__top-panel:hover .custom-accordion-image__header,
.custom-accordion-image__top-panel:focus-within .custom-accordion-image__header {
	max-width: 800px;
	transition: max-width 0s ease 0.15s;
}*/







.custom-accordion-image__expand-icon {
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	position: absolute;
	right: 15px;
	bottom: 15px;
	cursor: pointer;
}

.custom-accordion-image__expand-icon-bar {
	background-color: #770524;
	width: 17px;
	height: 5px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
}

.custom-accordion-image__expand-icon-bar:first-of-type {
	transform: translateY(-50%) rotate(-90deg);
	transform-origin: 50% 50%;
	transition: transform 0.25s ease;
}

.custom-accordion-image.open .custom-accordion-image__expand-icon-bar:first-of-type {
	transform: translateY(-50%) rotate(0deg);
	transform-origin: 50% 50%;
}

.custom-accordion-image__copy-cont p {
	margin: 0;
	padding: 0;
}

.custom-accordion-image__slide-panel {
	background-color: #fff;
	background-image: url("../../images/accordion_background.png");
	background-size: cover;
	background-position: 50% 50%;
	padding: 0;
	height: 0;
	overflow: hidden;
	transition: height 0.75s ease;
}


.custom-accordion-image.open .custom-accordion-image__slide-panel {

}





.custom-accordion-image__content-cont {
	padding: 5px 50px;
	margin: 30px 100px;
	background-color: #fff;
}

.custom-accordion-image__content-cont * {
	padding-left: 0;
	padding-right: 0;
}

.custom-accordion-image ul {
	margin-left: 20px;
}


@media screen and (max-width: 1024px) {
	
	.custom-accordion-image__top-panel {
		min-width: 0;
		border-radius: 0;
	}
	
	.custom-accordion-image__image-cont {
		border-radius: 0;
	}
	
	.custom-accordion-image__header-cont {
		border-radius: 0;
	}
	
}





@media screen and (max-width: 800px) {
	
	.custom-accordion-image__content-cont {
		margin: 70px 50px;
	}
	
	/*	
		---- Reset hover effects when panel is closed ---	
	.custom-accordion-image:hover .custom-accordion-image__image-cont,
	.custom-accordion-image:focus-within .custom-accordion-image__image-cont {
		width: 60%;
	}

	.custom-accordion-image__top-panel:hover .custom-accordion-image__header-cont, 
	.custom-accordion-image__top-panel:focus-within .custom-accordion-image__header-cont {
		width: 40%;
	}

	.custom-accordion-image__top-panel:hover .custom-accordion-image__header,
	.custom-accordion-image__top-panel:focus-within .custom-accordion-image__header {
		max-width: 225px;
	}
	
	
	
	---- Reset hover effects when panel is open ---
	.custom-accordion-image.open:hover .custom-accordion-image__image-cont,
	.custom-accordion-image:focus-within .custom-accordion-image__image-cont {
		width: 100%;
	}

	.custom-accordion-image.open .custom-accordion-image__top-panel:hover .custom-accordion-image__header-cont, 
	.custom-accordion-image.open .custom-accordion-image__top-panel:focus-within .custom-accordion-image__header-cont {
		width: 100%;
	}

	.custom-accordion-image.open .custom-accordion-image__top-panel:hover .custom-accordion-image__header,
	.custom-accordion-image.open .custom-accordion-image__top-panel:focus-within .custom-accordion-image__header {
		max-width: 800px;
	}
	*/
	
	
	
	
	/*---- Change transition timings to account for no hover animation ---*/
	.custom-accordion-image.closed .custom-accordion-image__header-cont {
		transition: width 0.25s ease 0.25s, height 0.25s ease;
	}
	
	.custom-accordion-image.open .custom-accordion-image__header-cont {
		transition: width 0.25s ease, height 0.25s ease 0.25s;
	}
	
	.custom-accordion-image.open .custom-accordion-image__image-cont {
		transition: width 0s ease 0.25s;
	}
	
	.custom-accordion-image.closed .custom-accordion-image__image-cont {
		transition: width 0s ease 0.25s;
	}
	
	.custom-accordion-image.open .custom-accordion-image__top-panel {
		transition: height 0.25s ease 0.25s;
	}
	
	.custom-accordion-image.closed .custom-accordion-image__top-panel {
		transition: height 0.25s ease;
	}
	
}






@media screen and (max-width: 550px) {
	
	.custom-accordion-image__top-panel * {
		/*transition: none;*/
	}
	
	.custom-accordion-image__image-cont {
		width: 100%;
		height: 175px;
		position: absolute;
		bottom: 0;
	}
	
	.custom-accordion-image {
		margin: 30px 0;
	}
	
	.custom-accordion-image__top-panel {
		height: 250px;
	}
	
	.custom-accordion-image__header-cont {
		height: 75px;
		width: 100%;
		padding: 0 55px;
	}
	
	.custom-accordion-image__header {
		font-size: 18px;
		line-height: 23px;
		max-width: none;
	}
	
	
	
	
	
	.custom-accordion-image__expand-icon {
		width: 25px;
		height: 25px;
		padding: 0;
		top: 50%;
		transform: translateY(-50%);
		right: 7px;
		transition: bottom 0.25s ease ;
	}
	
	.custom-accordion-image__expand-icon-bar {
		height: 4px;
	}
	
	
	
	
	.custom-accordion-image__content-cont {
		margin: 0;
		background-color: #E3CCD4;
		padding: 5px 35px;
	}
	
	
	
	
	.custom-accordion-image.open .custom-accordion-image__top-panel {
		height: 250px;
	}
	
	/*	---- Reset hover effects when panel is closed ---*/	
	.custom-accordion-image:hover .custom-accordion-image__image-cont,
	.custom-accordion-image:focus-within .custom-accordion-image__image-cont {
		width: 100%;
	}

	.custom-accordion-image__top-panel:hover .custom-accordion-image__header-cont, 
	.custom-accordion-image__top-panel:focus-within .custom-accordion-image__header-cont {
		width: 100%;
	}
	
	.custom-accordion-image.open .custom-accordion-image__top-panel:hover .custom-accordion-image__header,
	.custom-accordion-image.open .custom-accordion-image__top-panel:focus-within .custom-accordion-image__header {
		max-width: none;
	}
	
	.custom-accordion-image__top-panel:hover .custom-accordion-image__header, 
	.custom-accordion-image__top-panel:focus-within .custom-accordion-image__header {
		max-width: none;
	}
	
	.custom-accordion-image ul {
		padding: 0 20px;
	}
	
	.custom-accordion-image li ul {
		padding: 0 20px;
	}
	
}